.example-card {
  width: 350px;
}

/*.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  height: 150px;
  width: 150px;
  background-size: cover;
}*/

.example-header-image {
  height: 150px;
  width: 150px;
  background-size: cover;
}


.sscroll1{ /*width:400px;*/
  /*height:200px;*/
  /*  background-color: white;
  */}
.sscroll1{
  scrollbar-face-color: #009688;
  scrollbar-shadow-color: #FFFFFF;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-3dlight-color: #FFFFFF;
  scrollbar-darkshadow-color: #FFFFFF;
  scrollbar-track-color: #FFFFFF;
  scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
.sscroll1::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.sscroll1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #FFFFFF;
}

/* Handle */
.sscroll1::-webkit-scrollbar-thumb {
  background: rgba(0,150,136,1);
  -webkit-box-shadow: inset 0 0 6px #009688;
}
